
.below-Navbar{
    margin-top: 50px;
}

.categories-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat',sans-serif;
}