
.project-form-profile-container {
    height: 600px;
    /* Set a fixed height for the container */
    overflow: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    /* Enable vertical scrolling when the content overflows */
}

/* profile.module.css */
/* Add this CSS to position the Navbar at the top */
.profilePage{
    background-color:rgb(255, 255, 255);
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* Add your styling for the navigation links, Search, and Menu buttons here */