.profile-content {
    display: flex;
    /* height:auto; */
    margin-top: 49px;
    overflow: hidden;
    background-color: white;
    color: #000000;
    /* Prevent overflow issues */
}

.column {
height: 100%;
    /* Take up full height of parent */
    overflow-y: auto;
    /* Enable vertical scrolling if content overflows */
}
.userInfo {
    width: 30%;
    background-color: hsl(0, 0%, 100%);
    padding: 5px;
    /* border: 1px solid #ccc; */
    margin: 5px;
}

.projectList {
    width: 70%;
    background-color: #ffffff;
    padding: 5px;
    overflow-x: hidden;
    /* border: 1px solid #ccc; */
    margin: 5px;
}
.divider {
    border-left: 1px solid #000000;
    /* Vertical line styling */
    min-height: 100%;
    margin: 0 10px;
    /* Adjust the margin as needed */
}